{% extends "[BASE]ALL.html"%}

{% block app_css %}
<style>
    #img1{
        width: 260px;
        height: auto;
    }
</style>
{% endblock %}

{% block app_title %}
<div class="d-flex align-items-center justify-content-between">
    <h3>基本資料修改</h3>
    <a href="{% url 'member:index'%}" class="btn btn-outline-primary me-md-2">用戶系統首頁</a>
</div>
{% endblock %}

{% block app_content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <input type="hidden" name="userid" value="{{ member.user_id }}" />
            <label for="username" class="form-label">姓名</label>
            <input type="text" class="form-control" name="username" value="{{member.user_name}}">
        </div>
        <div class="mb-3">
            <label for="userphone" class="form-label">手機</label>
            <input type="number" class="form-control" name="userphone" value="{{member.user_phone}}" disabled>
        </div>
        <div class="mb-3">
            <label for="useremail" class="form-label">電子郵箱</label>
            <input type="email" class="form-control" name="useremail" value="{{member.user_email}}">
        </div>
        <div class="mb-3">
            <label for="userpassword" class="form-label">密碼</label>
            <input type="password" class="form-control" name="userpassword" value="{{member.user_password}}" disabled>
        </div>
        <div class="mb-3">
            <label for="vip_status" class="form-label">VIP 狀態</label>
            <select class="form-control" name="vip_status" id="vip_status" disabled>
                <option value="0" {% if member.vip_status == '0' %}selected{% endif %}>一般用户</option>
                <option value="1" {% if member.vip_status == '1' %}selected{% endif %}>VIP 用户</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="usernickname" class="form-label">暱稱</label>
            <input type="text" class="form-control" name="usernickname" value="{{member.user_nickname}}">
        </div>
        <div class="mb-3">
            <label class="form-label">性別</label>
            <select class="form-control" name="usergender" id="usergender">
                <option value="男" {% if member.user_gender == '男' %}selected{% endif %}>男</option>
                <option value="女" {% if member.user_gender == '女' %}selected{% endif %}>女</option>
                <option value="不願透漏" {% if member.user_gender == '不願透漏' %}selected{% endif %}>不願透漏</option>
            </select>
        </div>
        <!-- 修改生日時，要記得用 filter 轉換  | date:'Y-m-d'   以便顯示!! -->
        <div class="mb-3">
            <label for="userbirth" class="form-label">生日</label>
            <input type="date" class="form-control" name="userbirth" value="{{member.user_birth | date:'Y-m-d' }}" disabled>
        </div>
        <!-- 修改大頭照時，記得用 MEDIA_URL 找到資料庫名稱   以便顯示圖像!! -->
        <div class="mb-3">
            <label for="userphoto" class="form-label">頭像：</label>
            <input type="file" class="form-control" name="userphoto" id="file1"/>
            <img id="img1" src="{{MEDIA_URL}}{{ member.user_avatar }}" alt="">
        </div>
        <button type="submit" class="btn btn-outline-primary" onclick="return confirm('即將修改本次操作，請問是否確定?~')">確認修改</button>
        
        <a href="{% url 'member:personal' %}?id={{ member.user_id }}" class="btn btn-outline-primary">回個人頁面</a>
    </form>
{% endblock %}

{% block app_script %}
<script>
    const theFile1 = document.querySelector("#file1")
    const theImg1 = document.querySelector("#img1")
    // 選到不同的圖檔 就會觸發 change事件
    theFile1.addEventListener("change", ()=>{
        // console.log("change")
        // 要在瀏覽器 顯示圖  要使用 "FileReader API"
        const reader = new FileReader();
        reader.readAsDataURL(theFile1.files[0]); //讀圖
        // 完成後會觸發 load 事件
        reader.addEventListener("load", ()=>{
            theImg1.src = reader.result
        })
    })

</script>
{% endblock %}